<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdht.itasset"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:name="com.gdht.itasset.xintong.App"
        android:allowBackup="true"
        android:icon="@drawable/tubiao"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.gdht.itasset.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gdht.itasset.PlanActivity"
            android:label="@string/title_activity_plan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gdht.itasset.ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gdht.itasset.ScanComplateActivity"
            android:label="@string/title_activity_scan_complate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gdht.itasset.YiPanActivity"
            android:label="@string/title_activity_yi_pan" >
        </activity>
        <activity
            android:name="com.gdht.itasset.PanYingActivity"
            android:label="@string/title_activity_pan_ying" >
        </activity>
        <activity
            android:name="com.gdht.itasset.XinZengActivity"
            android:label="@string/title_activity_xin_zeng" >
        </activity>
        <activity
            android:name="com.gdht.itasset.PanKuiActivity"
            android:label="@string/title_activity_pan_kui" >
        </activity>
        <activity
            android:name="com.gdht.itasset.WeiPanActivity"
            android:label="@string/title_activity_wei_pan" >
        </activity>
        <activity android:name="com.gdht.itasset.MainScanActivity" >
        </activity>
        <activity android:name="com.gdht.itasset.ErWeiScanCaptureActivity" />
        <activity android:name="com.gdht.itasset.ErWeiScanActivity" />
        <activity android:name="com.gdht.itasset.LocalDBActivity" />
        <activity android:name="com.gdht.itasset.XinZengSubActivity" />
        <activity android:name="com.gdht.itasset.XinZengMainScanActivity" />
        <activity
            android:name="com.gdht.itasset.XinZengErWeiScanActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.gdht.itasset.CangKuSelectActivity" />
        <activity
            android:name="com.gdht.itasset.XinZengScanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity android:name="com.gdht.itasset.XinZengHaveRfidActivity" />
        <activity
            android:name="com.gdht.itasset.GuZhangDengJiActivity"
            android:label="@string/title_activity_gu_zhang_deng_ji" >
        </activity>
        <activity
            android:name="com.gdht.itasset.XiuGaiZaiYunActivity"
            android:label="@string/title_activity_xiu_gai_zai_yun" >
        </activity>
        <activity
            android:name="com.gdht.itasset.XiuGaiCangKuActivity"
            android:label="@string/title_activity_xiu_gai_cang_ku" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectDeptActivity"
            android:label="@string/title_activity_select_dept" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectUseTypeActivity"
            android:label="@string/title_activity_select_use_type" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectWarehouseAreaActivity"
            android:label="@string/title_activity_select_warehouse_area" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectOfficeActivity"
            android:label="@string/title_activity_select_office" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectGoodsShelvesActivity"
            android:label="@string/title_activity_select_goods_shelves" >
        </activity>
        <activity
            android:name="com.gdht.itasset.CangKuSelectSingleActivity"
            android:label="@string/title_activity_select_goods_shelves" >
        </activity>
        <activity
            android:name="com.gdht.itasset.OptionActivity"
            android:label="@string/title_activity_option" >
        </activity>
                <service android:name="com.gdht.itasset.version.VersionServiceIndex" >
        </service>
    </application>

</manifest>